* {
  border: 1px solid red;
}

body {
  display: grid;
  grid-template: "logo header header"
    "nav nav nav" 
    "nav main main";
}

nav {
  grid-area: nav;
}

img {
  grid-area: logo;
}

h1 {
  grid-area: header;
}

p {
  grid-area: main;
}