

body {
  display: grid;
  /* syntax reminder
  grid-template: row1 row2 / column1 column2; */
  grid-template: 
  "logo head" auto
  "nav txt" 1fr / auto 2fr;
}

nav {
  grid-area: nav;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li details ul {
  padding: 0 0 0 1em;
  list-style: disc;
}


img {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: auto; /* maintain aspect ratio */
  grid-area: logo;
}


header {
  /* center text*/
  text-align: center;
  grid-area: head;
}

/* Dropdown Styles */
.nav-button, .dropdown-trigger {
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
  display: inline-block;
  width: 150px;
  text-align: center;
}

.nav-button:hover, .dropdown-trigger:hover {
  background-color: #e7e7e7;  
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 0; 
  left: 150px; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


